<style>
#orderTable td{
  vertical-align:center;
  padding:20px 20px 0px 0px;
}
#orderTable td h4{
  margin-top:0px;
}

#orderTable td img{
  width:200px;
  border:none;
  padding:0px;
  margin:0px;
}
</style>
<form action="http://j.braun.mooo.com/nforder/" method="GET" enctype="text/plain">
<table id="orderTable">


<tr>
<td><img src="fileadmin/_processed_/csm_Nestfluechter_Cover_62aa2825fa.jpg" /></td>
<td><h4>Ohne Orte - Nestflüchter 2015</h4>
<input type="number" name="Nestfluechter15" min="0" max="20" value="0"/></td>
</tr>

<tr>
<td><img src="https://j.braun.mooo.com/najuws/fileadmin/user_upload/NF_Cover_2016_teaser.png" /></td>
<td><h4>Ich bin aus Plastik, holt mich hier raus! - Nestflüchter 2016</h4>
<input type="number" name="Nestfluechter16" min="0" max="20" value="0"/></td>
</tr>

</table>
<br><br>
<table>
<tr><td>Name:</td><td><input type="text" name="name" required /></td></tr>
<tr><td>Staße, Hausnummer: &nbsp;&nbsp;&nbsp;</td><td><input type="text" name="street" required /></td></tr>
<tr><td>Plz, Ort: </td><td><input type="text" name="city" required /><br></td></tr>
</table><br>
<input type="hidden" name="backlink" value="http://naju-bayern.de/?id=277" />
Selbstverständlich verwendne wir deine Adresse nur um dir das Angeforderte Material zu schicken. 
Wir werden  dich nicht mit Werbung zu müllen!<br><br>
<input type="submit" value="Kostenlos bestellen"/>  
</form>